body {
  margin: 0;
  font-family: "Futura", "Helvetica Neue", Arial, sans-serif;
  background: #ffffff;
  color: #333;
}

.app {
  width: 100vw;
  height: 100vh;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.app > h2 {
  flex-shrink: 0;
}

h2 {
  background-color: #d00087;
  color: white;
  padding: 1rem;
  font-size: 3vw;
  text-align: left;
  padding-left: 2rem;
  margin: 0;
}

button {
  background-color: #008c44;
  color: white;
  font-weight: bold;
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 8px;
  margin: 2rem 1rem 0 1rem;
  font-size: 1rem;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.fixed-back-button {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  background-color: #008c44;
  color: white;
  font-weight: bold;
  border: none;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  z-index: 999;
  outline: none;
}

.fixed-next-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: #008c44;
  color: white;
  font-weight: bold;
  border: none;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  z-index: 999;
  outline: none;
}


/* ===== Responsive Tweaks ===== */
@media (max-width: 768px) {
  h2 {
    font-size: 1.2rem;
    padding-left: 1rem;
  }
}
